body{
    text-align: center;
}

#container{
    margin: auto;
    border: 2px solid black;
    width:541px;
    height:541px;
}

.grid-row{
    display:flex;
}

.grid-box{
    width:32px;
    height:32px;
    border:1px solid red;
}